html {
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}
